* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 32px;
}
:root{
    --dark-1: white ;
    --dark-2: rgba(154, 205, 237, 1);
    --dark-3: rgba(60, 169, 237, 1); 
    --dark-4: rgba(0, 85, 154, 1);
    --dark-5: rgba(0, 5, 54, 1);
}
html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 32px;
}
header{
    display: flex;
    position: relative;
    background-color: var(--dark-2);
    height: 150px;
    border-bottom: 7px solid var(--dark-5);
    justify-content: left;
    align-items:start;
}
#divider{
    height: 10px;
}
main{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 7px solid var(--dark-5);
    background-color: var(--dark-1);
}
#back-button{
    font-size: 16px;
    position:absolute;
    right:60px;
    top: 20px;
    border: none;
    background-color:#007bff;
    color: white;
    border-bottom: 4px solid #0056b3;
    border-radius: 5px;
    width: 100px;
    height: 35px;
}
#back-button:hover, #back-button:active{
    cursor: pointer;
}
#light-bulb{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right:20px;
    top: 20px;
    font-size: 35px;
}
#light-bulb:hover, #light-bulb:active{
    cursor: pointer;
}