* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 32px;
}
html, body{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 32px;
}
header{
    display: flex;
    position: relative;
    height: 200px;
    border-bottom: 7px solid;
    justify-content: left;
    align-items:start;
}
footer{
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: 200px;
    justify-content: left;
    align-items:center;
    border-top: 7px solid;
}
#heart{
    position: absolute;
    width: 20%;
    left:40%;
    height: 100%;
    display: flex;
    align-items:start;
    justify-content: center;
}
#heart p{   
    margin-top: 30px;
}
#footer-text{
    margin-left: 10px;
}
#footer-text a{
    font-size: 18px !important;
}
#footer-text a:visited, #footer-text a:link{
    color: inherit;
}
#footer-text strong{
    font-size: 18px !important;
}
#footer-text li{
    padding: 5px;
    font-size: 18px !important;
}
#divider{
    height: 10px;
}
#bottom-divider{
    height: 10px;
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 7px solid;
    border-bottom: 7px solid;
}
#back-button{
    font-size: 16px;
    position:absolute;
    right:60px;
    top: 20px;
    border: none;
    border-bottom: 4px solid;
    border-radius: 5px;
    width: 100px;
    height: 35px;
}
#back-button:hover, #back-button:active{
    cursor: pointer;
}
#light-bulb{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right:20px;
    top: 20px;
    font-size: 35px;
}
#light-bulb:hover, #light-bulb:active{
    cursor: pointer;
}