/* Code controls the style of the blog post boxes that appear on the blog page */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 32px;
}
:root{
    --dark-1: white ;
    --dark-2: rgba(154, 205, 237, 1);
    --dark-3: rgba(60, 169, 237, 1); 
    --dark-4: rgba(0, 85, 154, 1);
    --dark-5: rgba(0, 5, 54, 1);
}
.blog-post{
    position: relative;
    width: 80%;
    height: 250px;
    background-color: var(--dark-2);
    margin: 20px;
    border: 5px solid black;
}
.blog-post h1{
    margin: 10px;
    font-size: 32px;
    width: auto;
    border-bottom: 5px solid black;
}
.blog-post p{
    margin: 10px;
    margin-left: 30px;
    font-size: 20px;
    font-style: italic;
    width: auto;
}
.blog-post h6{
    position: absolute;
    bottom: 0;
    margin: 10px;
    font-size: 20px;
    width: auto;

}