* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
:root {
    --blue-lighten-5: #e1f5fe;
    --blue-lighten-4: #b3e5fc;
    --blue-lighten-3: #81d4fa;
    --blue-lighten-2: #4fc3f7;
    --blue-lighten-1: #29b6f6;
    --blue: #03a9f4;
    --blue-darken-1: #039be5;
    --blue-darken-2: #0288d1;
    --blue-darken-3: #0277bd;
    --blue-darken-4: #01579b;
    --blue-accent-1: #80d8ff;
    --blue-accent-2: #40c4ff;
    --blue-accent-3: #00b0ff;
    --blue-accent-4: #0091ea;
  }
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 7px solid red;
}
header{
    background-color: green;
    height: 12%;
    border-bottom: 7px solid black;
}
#divider{
    height: 0.6%;
}
main{
    display: flex;
    background-color: lightpink;
    height: 87.5%;
    border-top: 7px solid black;
    width: 100%;
}
.side{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    width: 50%;
    padding: 10px;
  
}
form{
    padding: 100px;
}
form input{
    /* display: inline-block; */
    width: 100%;
    height: 100px;
    font-size: 32px;
    /* padding-left: 20px; */
    background-color: lightcoral;
}
form label{
    font-size: 32px;
    color: red;
}
#menu{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
#menu h1{
    font-size: 50px;
}
#center{
    background-color: yellow;
    width: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#submit-button{
    margin-top: 30px;
}
#circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    width: 900px;
    background-color: red;
    border-radius: 50%;
    background-image: linear-gradient(180deg,
    var(--blue-lighten-5) 10%,
    var(--blue-lighten-4) 10.1%,
    var(--blue-lighten-4) 20%,
    var(--blue-lighten-3) 20.1%,
    var(--blue-lighten-3) 30%,
    var(--blue-lighten-2) 30.1%,
    var(--blue-lighten-2) 40%,
    var(--blue-lighten-1) 40.1%,
    var(--blue-lighten-1) 50%,
    var(--blue) 50.1%,
    var(--blue) 60%,
    var(--blue-darken-1) 60.1%,
    var(--blue-darken-1) 70%,
    var(--blue-darken-2) 70.1%,
    var(--blue-darken-2) 80%,
    var(--blue-darken-3) 80.1%,
    var(--blue-darken-3) 90%,
    var(--blue-darken-4) 90.1%,
    var(--blue-darken-4) 100%
    );
}
#circle h1{
    position: relative;
    z-index:9999;
    color: white;
    font-size: 80px;
}
#name{
    width: 1000px;
    height: 50px;
    font-size: 32px;
    padding: 10px;
    border-radius: 10px;
}
footer{
    display: flex;
    background-color: blueviolet;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#clear-button{
    height: 50px;
    width: 200px;
}