* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 7px solid red;
}
header{
    background-color: green;
    height: 12%;
    border-bottom: 7px solid black;
}
#divider{
    height: 0.6%;
}
main{
    display: flex;
    background-color: lightpink;
    height: 87.5%;
    border-top: 7px solid black;
    width: 100%;
}
.side{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    width: 50%;
    padding: 10px;
  
}
form{
    padding: 100px;
}
form input{
    /* display: inline-block; */
    width: 100%;
    height: 100px;
    font-size: 32px;
    /* padding-left: 20px; */
    background-color: lightcoral;
}
form label{
    font-size: 32px;
    color: red;
}
#menu{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
#menu h1{
    font-size: 50px;
}
#center{
    background-color: yellow;
    width: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#submit-button{
    margin-top: 30px;
}
#circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    width: 900px;
    background-color: red;
    border-radius: 50%;
    background-image: linear-gradient(180deg, 
    rgba(250,250,250,1) 5%,
    rgba(249, 242, 237, 1) 10%,
    rgba(226, 233, 237, 1) 10.1%, 
    rgba(226, 233, 237, 1) 15%,
    rgba(202, 224, 237, 1) 15.1%, 
    rgba(202, 224, 237, 1) 20%, 
    rgba(178, 214, 237, 1) 20.1%, 
    rgba(178, 214, 237, 1) 25%, 
    rgba(154, 205, 237, 1) 25.1%,
    rgba(154, 205, 237, 1) 30%, 
    rgba(131, 196, 237, 1) 30.1%, 
    rgba(131, 196, 237, 1) 35%, 
    rgba(107, 187, 237, 1) 35.1%,
    rgba(107, 187, 237, 1) 40%, 
    rgba(83, 178, 237, 1) 40.1%,
    rgba(83, 178, 237, 1) 45%,
    rgba(60, 169, 237, 1) 45.1%, 
    rgba(60, 169, 237, 1) 50%, 
    rgba(36, 160, 237, 1) 50.1%, 
    rgba(36, 160, 237, 1) 55%, 
    rgba(0, 134, 208, 1) 55.1%,
    rgba(0, 134, 208, 1) 60%,
    rgba(0, 109, 181, 1) 60.1%, 
    rgba(0, 109, 181, 1) 65%, 
    rgba(0, 85, 154, 1) 65.1%,
    rgba(0, 85, 154, 1) 70%,
    rgba(0, 62, 127, 1) 70.1%, 
    rgba(0, 62, 127, 1) 75%, 
    rgba(0, 41, 102, 1) 75.1%, 
    rgba(0, 41, 102, 1) 80%, 
    rgba(0, 21, 77, 1) 80.1%, 
    rgba(0, 21, 77, 1) 85%, 
    rgba(0, 5, 54, 1) 85.1%, 
    rgba(0, 5, 54, 1) 90%, 
    rgba(0, 2, 31, 1) 90.1%, 
    rgba(0, 2, 31, 1) 95%, 
    rgba(0, 0, 3, 1) 95.1%,
    rgba(0,0,0,1) 100%);
}
#circle h1{
    color: white;
    font-size: 80px;
}
#name{
    width: 1000px;
    height: 50px;
    font-size: 32px;
    padding: 10px;
    border-radius: 10px;
}
footer{
    display: flex;
    background-color: blueviolet;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#clear-button{
    height: 50px;
    width: 200px;
}